<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="city" routerLinkActive="active"
    >City Guide</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor02"
    aria-controls="navbarColor02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="city" routerLinkActive="active"
          >City <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="city-add"
          routerLinkActive="active"
          *ngIf="isAuthenticated"
          >Add City</a
        >
      </li>
    </ul>
    <div class="wrap">
      <div class="search">
        <input placeholder="Search" class="searchTerm" />
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <button
      class="button-two"
      type="submit"
      (click)="logOut()"
      *ngIf="isAuthenticated"
    >
      <span>Log Out</span>
    </button>
    <button
      class="button"
      id="login"
      click="login()"
      *ngIf="!isAuthenticated"
      routerLink="/login"
    >
      Login
    </button>
    <button
      class="button"
      id="signup"
      click="register()"
      *ngIf="!isAuthenticated"
      routerLink="/register"
    >
      Sign Up
    </button>
  </div>
</nav>
